<div class="block">
  <%= form_tag root_path, method: :get, data: { controller: "dropdown" } do %>
    <%= select_tag :make, "", prompt: "- Please select -", data: { action: "change->dropdown#make" } %>
    <%= select_tag :model, "", prompt: "- Model -", data: { action: "change->dropdown#model" } %>
    <%= select_tag :year, "", prompt: "- Year -", data: { action: "change->dropdown#year" } %>
  <% end %>
</div>

<div class="block mt-4 hidden" id="message-container">
  ✅ The <strong id="message"></strong> is a nice car.
  <div class="mt-4"><%= link_to "Pick another", root_path, class: "text-blue-600 underline" %></div>
</div>
